<h2>
  {{description}}
</h2>

<div *ngIf="dashboard">
  <div style="float: left; padding-top: 8px; padding-bottom: 8px" *ngIf="perm['Members']">
    &nbsp;
    <a href="?aid=0">&#10012; Add new</a>
  </div>

  <app-table [allData]="{'Results Sample Table':data}"
             [allCols]="[{'headerName': 'Id', 'field': 'Id'}]"
             [export]="{}"
             [loading]="loading"
             [allowSelection]="true"
             [hyperlinkRow]="hyperlink">
  </app-table>
</div>

<div *ngIf="!dashboard">
  <form ngNativeValidate #input (keydown.enter)="enterKey($event)">
    <app-choice [form]="form" [spec]="spec" [field]="'Title'" [disabled]="stage == 'View'"></app-choice>

    <app-choice [form]="form" [spec]="spec" [field]="'Attachments'" [disabled]="stage == 'View'"></app-choice>
    
    <app-choice [form]="form" [spec]="spec" [field]="'CommentHistory'" [override]='"{\"TypeAsString\":\"Note\",\"RichText\":true,\"AppendOnly\":true}"' [versions]="versions" [disabled]="stage == 'View'" ></app-choice>

    <div *ngFor="let d of form.PlainTextMultiLine;let i = index">
      <input type="date" [(ngModel)]="d.DateIntoJSONObj" name="Date_{{i}}">
      <input type="text" [(ngModel)]="d.TextIntoJSONObj" name="Text_{{i}}">
    </div>
    <div (click)="form.PlainTextMultiLine = form.PlainTextMultiLine || [];form.PlainTextMultiLine.push({});">Add</div>
    
    <div class="Actions">
      <div style="float: left;" *ngIf="stage == 'New'">
        <button [disabled]="!input.checkValidity()" (click)="save('')">Start</button>
      </div>

      <div style="float: right;">
        <button (click)="close()">Close</button>
      </div>
    </div>
  </form>
</div>
