<div class="app" ng-form="forms" ng-class="{'submitted': submitted}">
    <div class="md-content-overflow flex">
		<md-content flex layout-padding>
			<script type="text/javascript">
				// core requirement for test suite
				window.results = {
					'Core - jQuery': false
				};
				try {
					results['Core - jQuery'] = $('input[name="department"]').length > 0;
				}catch (e) {}

				// common Lists based components
				setTimeout(function () {
					results['Lists - Digest'] = false;
					try {
						Lists.UpdateDigest(true).then(function (d) {
							results['Lists - Digest'] = d != null && d != "";
						});
					}catch (e) {}

					results['Lists - CRUD REST'] = false;
					try {
						Lists.GetListItem('null', null, 'Author/Title', null, 'Author', 'Id', 1).then(function (d) {
							if (d.d.results.length >= 0)
								Lists.SetListItem('null', {
									__metadata: {type: 'SP.Data.NullListItem'}
								}).then (function (d) {
									Lists.RemoveListItem('null', d.d.Id).then(function (d) {
										results['Lists - CRUD REST'] = true;
									});
								});
						});
					}catch (e) {}

					results['Lists - CRUD VTI'] = false;
					try {
						Lists.GetListItem('Null', "Folder/Path eq '" + _spPageContextInfo.webServerRelativeUrl + "/Lists/Null/Folder'", 'CreatedBy/Title', null, 'CreatedBy', 'Id', 1).then(function (d) {
							if (d.d.length >= 0)
								Lists.SetListItem('Null', {
									Folder: {Path: _spPageContextInfo.webServerRelativeUrl + '/Lists/Null/Folder'}
								}).then (function (d) {
									Lists.RemoveListItem('null', d.d.Id).then(function (d) {
										results['Lists - CRUD VTI'] = true;
									});
								});
						});
					}catch (e) {}

					results['Lists - Set View'] = false;
					try {
						setTimeout(function () {
							Lists.SetView(null, 'null', 'Title,People,Start,Created,Modified', true).then (function () {
								results['Lists - Set View'] = true;
							});
						},1500)
					}catch (e) {}

					results['Lists - Set Field Default'] = false;
					try {
						Lists.SetFieldDefault('null', 'Title', null, 'default').then (function () {
							results['Lists - Set Field Default'] = true;
						});
					}catch (e) {}

					results['Lists - Get CAML'] = false;
					try {
						Lists.GetCaml('null',"<View Scope='RecursiveAll'><Query><Where><Eq><FieldRef Name='Author' LookupId='TRUE'/><Value Type='Integer'>" + _spPageContextInfo.userId + "</Value></Eq></Where></Query></View>").then (function (d) {
							results['Lists - Get CAML'] = true;
						});
					}catch (e) {}

					results['Lists - Get History'] = false;
					try {
						Lists.GetItemHistory('null',1).then (function (d) {
							if (d.d.results.length > 0)
								results['Lists - Get History'] = true;
						});
					}catch (e) {}

					results['Lists - Attachments'] = false;
					try {
						setTimeout(function () {
							Lists.GetListAttachments('null',1).then (function (d) {
								d.d.results.forEach(function (f) {
									f.Deleted = true;
								});
								d.d.results.push({
									FileName:'Blank.txt',
									Data:' '
								});
								Lists.UploadAttachments('null',1,d.d.results).then(function (d) {
									results['Lists - Attachments'] = true;
								});
							});
						},1000)
					}catch (e) {}

					results['Lists - Permissions'] = false;
					try {
						Lists.Permissions(_spPageContextInfo.webServerRelativeUrl + '/SitePages').then(function () {
							Lists.AddPermissions(null, 'SitePages', 1, _spPageContextInfo.userEmail).then(function () {
								Lists.DelPermissions(null, 'SitePages', 1, _spPageContextInfo.userEmail).then(function () {
									results['Lists - Permissions'] = true;
								});
							})
						},function () {
							Lists.Permissions(_spPageContextInfo.webServerRelativeUrl + '/Pages').then(function () {
								Lists.AddPermissions(null, 'Pages', 1, _spPageContextInfo.userEmail).then(function () {
									Lists.DelPermissions(null, 'Pages', 1, _spPageContextInfo.userEmail).then(function () {
										results['Lists - Permissions'] = true;
									});
								})
							})
						})
					}catch (e) {}

					results['Lists - LookupFix'] = false;
					try {
						setTimeout(function () {
							Lists.LookupFix('null', 'null', 'Lookup').then(function () {
								results['Lists - LookupFix'] = true;
							});
						},3000);
					}catch (e) {}

					results['Lists - Exists'] = false;
					try {
						Lists.UrlExists(_spPageContextInfo.webServerRelativeUrl + '/Shared Documents').then(function () {
							results['Lists - Exists'] = true;
						});
					}catch (e) {}

					results['Lists - Current Folder'] = false;
					try {
						setTimeout(function () {
							Lists.GetCurrentFolder().then(function () {
								results['Lists - Current Folder'] = true;
							});
						},2000);
					}catch (e) {}

					results['Lists - Create Folders'] = false;
					try {
						setTimeout(function () {
							Lists.GetListObject(null, 'Documents').then(function (l) {
								Lists.CreateFolders(null, l, 'Folder', null, null, [{"fileLeafRef" : "Test", "folderRelativeURL" :"",toLocation: l.get_rootFolder().get_serverRelativeUrl()}], 0, null, 'Test', null, null, null, true).then(function () {
									results['Lists - Create Folders'] = true;
								});
							})
						},3000);
					}catch (e) {}
				},1);

				// override
				setTimeout(function () {
					results['Override - Permissions'] = false;
					try {
						results['Override - Permissions'] = Override.Permissions[null] == true;
					} catch (e) {}

					results['Override - Includes'] = false;
					try {
						results['Override - Includes'] = 'abc'.includes('b',0);
					} catch (e) {}

					results['Override - Ends With'] = false;
					try {
						results['Override - Ends With'] = 'abc'.includes('c');
					} catch (e) {}

					results['Override - Parameters'] = false;
					try {
						results['Override - Parameters'] = Override.ParameterByName('t','test=test&t=true&tests=tests') == 'true';
					} catch (e) {}
				},1000);

				// terms
				setTimeout(function () {
					results['Terms - Storage'] = false;
					try {
						Terms.UpdateSessionStorage('Site Navigation', null, true);
						window.initalLoad.then(function (d) {
							if (d != null && sessionStorage.getItem('Expiry.' + _spPageContextInfo.siteServerRelativeUrl) == d)
								results['Terms - Storage'] = true;
						})
					} catch (e) {}
					
					results['Terms - Get Term'] = false;
					try {
						Terms.GetTermObjectByNameId(null, 'Test', null, 'Site Navigation').then(function (d) {
							results['Terms - Get Term'] = Terms.ToString(Terms.GetFieldValue(d)) != null;
						})
					} catch (e) {}
					
					results['Terms - Create Term'] = false;
					try {
						setTimeout(function () {
							Terms.CreateTermWithinContext(null, 'Site Navigation', 'Test ' + (new Date()).toJSON().substring(0,16), null, 'Dummy').then(function (d,c) {
								results['Terms - Create Term'] = d.move != null;
								d.deleteObject();
								c.executeQueryAsync();
							})
						}, 1500);
					} catch (e) {}
					
					results['Terms - Get Field Term'] = false;
					try {
						// unable to set list item value so test fails
						var ctx = new SP.ClientContext.get_current();
						var i = ctx.get_web().get_lists().getByTitle('null').getItemById(1);
						ctx.load(i, 'Id', 'MMS');
						ctx.executeQueryAsync(function () {
							results['Terms - Get Field Term'] = i.get_objectData().get_$12_0() != null;
						})
					} catch (e) {}
				},2500);
			
				// web tests
				setTimeout(function () {
					results['Web - User'] = false;
					try {
						Webs.EnsureUser(_spPageContextInfo.userPrincipalName).then(function () {
							Webs.GetUser().then(function () {
								results['Web - User'] = true;
							})
						});
					} catch (e) {}
					
					results['Web - Tiles'] = false;
					try {
						// bodge to current site as dev outside root scope
			            window.location.origin = _spPageContextInfo.webServerRelativeUrl;
						flatnav = [];
						Webs.GetWebs().then(function (nodes) {
							if (nodes != null) flatnav = flatnav.concat(nodes);
							Webs.GetWebsSearch().then(function (nodes) {
								if (nodes != null) flatnav = flatnav.concat(nodes);
								Webs.GetLibs().then(function (nodes) {
									if (nodes != null) flatnav = flatnav.concat(nodes);
									Webs.GetLibsSearch().then(function (nodes) {
										if (nodes != null) flatnav = flatnav.concat(nodes);
										Webs.GetFilesSearch().then(function (nodes) {
											if (nodes != null) flatnav = flatnav.concat(nodes);
											if (flatnav.length > 0)
												results['Web - Tiles'] = true;
										});
									});
								});
							});
						});
					} catch (e) {}
					
					results['Web - Ensure Group'] = false;
					try {
						Webs.EnsureGroup('Test','Dev Owners', true).then(function (id,grp,ctx) {
							Webs.AddUsers(id, [_spPageContextInfo.userId], true).then(function () {
								results['Web - Ensure Group'] = true;
								grp.deleteObject();
								ctx.executeQueryAsync();
							})
						});
					} catch (e) {}

					// Webs.CreateWeb>SetupWeb - untested but uncommon and complex test
				},5000)

				// ui based components
				setTimeout(function () {
					results['UI - Name Context'] = false;
					try {
						results['UI - Name Context'] = _spPageContextInfo.userDisplayName.indexOf(' ') > 0 && $('input[name="title"]').val() == _spPageContextInfo.userDisplayName;
					}catch (e) {}
					
					results['UI - Max Length'] = false;
					results['UI - Enter Directive'] = false;
					try {
						$('input[name="department"]').val('IT');
						$('input[name="department"]').keyup();
						var e = jQuery.Event("keypress");
						e.which = 13;
						e.keyCode = 13;
						$('input[name="department"]').trigger(e);
						setTimeout(function () {
							results['UI - Enter Directive'] = $('input[name="title"]').val() == 'Fred';
							results['UI - Max Length'] = $('div[style*="font-size: 10px"]:contains("0 characters remaining")').text() == "0 characters remaining";
						},1000);
					}catch (e) {}

					results['UI - Date Picker'] = false;
					try {
						results['UI - Date Picker'] = $('input[type="date"]').val() > '2000-01-01';
					} catch (e) {}

					results['UI - TinyMCE'] = false;
					try {
						setTimeout(function() {
							results['UI - TinyMCE'] = $($('iframe')[0].contentDocument).find('h1').length > 0
						},2000)
					} catch (e) {}

					results['UI - Underscore'] = false;
					try {
						results['UI - Underscore'] = (_.filter([1, 2, 3, 4, 5, 6], function(num){ return num % 2 == 0; })).join(',') == '2,4,6';
					}catch (e) {}

					results['UI - SheetJS'] = false;
					try {
						results['UI - SheetJS'] = XLSX.utils.book_new().SheetNames.length == 0;
					}catch (e) {}

					results['UI - Uploader'] = false;
					try {
						results['UI - Uploader'] = $('a:contains("Add Files")').length > 0;
					}catch (e) {}

					results['UI - People Picker'] = false;
					try {
						setTimeout(function () {
							results['UI - People Picker'] = SPClientPeoplePicker.SPClientPeoplePickerDict[$('.sp-peoplepicker-topLevel').attr('id')].TotalUserCount >= 1;
						}, 2500)
					}catch (e) {}

					results['UI - Image Error Handler'] = false;
					try {
						results['UI - Image Error Handler'] = $('img[src="doesntexist"]').css('visibility') == 'hidden';
					}catch (e) {}

					results['UI - Calendar'] = false;
					try {
						results['UI - Calendar'] = $('.fc-header-toolbar h2').text().split(' ')[1] == (new Date).getFullYear();
					}catch (e) {}

					results['UI - Moment'] = false;
					try {
						results['UI - Moment'] = moment().year() == (new Date()).getFullYear();
					}catch (e) {}

					results['UI - Scroll'] = false;
					try {
						results['UI - Scroll'] = $('#s4-workspace')[0].scrollTop > 0;
					}catch (e) {
						try {
							results['UI - Scroll'] = $('div[data-is-scrollable="true"]')[0].scrollTop > 0;
						}catch (e) {}
					}

					results['UI - Tooltip'] = false;
					try {
						results['UI - Tooltip'] = typeof($._data($('[tooltip]')[0], 'events').mouseover[0].handler) == "function";
					}catch (e) {}

					results['UI - Save'] = false;
					try {
						$('input[value="Submit"]').click();
						setTimeout(function () {
							results['UI - Save'] = $('#saved').text().trim() == 'Saved';
						}, 6000);
					}catch (e) {}
					
					results['Modal - Display'] = false;
					Modal.Modal('Results - Failed: Counting...', '<div id="modRes">Counting results...</div>', true, null, null, null, true).then(function () {
						results['Modal - Display'] = true;
					});
				},7000);

				// result output
				setTimeout(function () {
					// output results
					var fails = 0;
					for (var i in results) {
						var critical = '';
						if (i == 'Core - jQuery'
							|| i == 'Lists - Attachments'
							|| i == 'Lists - Digest'
							|| i == 'Lists - CRUD REST'
							|| i == 'Override - Permissions'
							|| i == 'UI - Name Context'
							|| i == 'Terms - Get Term'
							|| i == 'Web - User')
							critical = ' style="color:red"'

						document.getElementById('results').innerHTML += "<b " + critical + ">" + i + "</b>: <a href='<List here that can show apps using functions>?FilterField1=Libs&FilterType1=MultiChoice&FilterValue1=" + encodeURIComponent(i) + "' style=color:" + (!results[i] ? 'red' : 'green') + ">" + (!results[i] ? 'FAIL' : 'PASS') + "</a><br>";
						if (!results[i])
							fails++;
					}

					function emailComplete (pass) {
						if (pass !== null) {
							if (!pass)
								fails++;
							
							document.getElementById('results').innerHTML += "<b>Web - Email</b>: <a href='<List here that can show apps using functions>?FilterField1=Libs&FilterType1=MultiChoice&FilterValue1=" + encodeURIComponent('Web - Email') + "' style=color:" + (!pass ? 'red' : 'green') + ">" + (!pass ? 'FAIL' : 'PASS') + "</a><br>";
						}

						document.title = 'Early Warning - Failed: ' + fails.toString();
						$('#modRes').html($('#results').html());
						$('#dialogTitleSpan').text('Results - Failed: ' + fails.toString());
						$('#Header h2').text('Results - Failed: ' + fails.toString());
					}

					// email results
					if (~document.location.href.toLowerCase().indexOf('/dev'))
						emailComplete(null);
					else
						Webs.Email($('#results').html(), 'Results - Failed: ' + fails.toString(), [_spPageContextInfo.userEmail]).then(function () {
							emailComplete(true);
						}, function () {
							emailComplete(false);
						})
				}, 17500);
			</script>

			<md-input-container style="width: 100%; box-sizing: border-box;">
				<div>T1 <span class=required>*</span> <i class="fa fa-info-circle" tooltip="Some test"></i></div>
				<input type="text" ng-model="form.Title" name="title" disabled="disabled">
			</md-input-container>

			<div>
				Enter IT then press return<br>
				<input type="text" ng-model="form.Department" required name="department" maxlength="2" enter="form.Title = 'Fred'">
			</div>

			<md-input-container>
				<label>IE Date Debug</label>
				<input type="date" ng-model="form.Created" required name="date">
			</md-input-container>

			<md-input-container style="width: 100%; box-sizing: border-box;">
				<div>Tiny MCE</div>
				<textarea ui-tinymce="tinymceOptions" ng-model="form.Start"></textarea>
			</md-input-container>

			<div style="height: 100px;">
				<upload attachments="Files"></upload>
			</div>

			<div>
				<people ng-model="form.People"></people>
			</div>

			<div>
				<a href="https://cdn.jsdelivr.net/npm/sp-peoplepicker@0.10.0/" tooltip="sp-peoplepicker.min.js and sp-peoplepicker.css">SPPeoplePicker</a> - Doesn't support multiple on page and doesn't output ID to model, will need re-dev to use<br>
				<sp-people-picker name="People" id="People" ng-required="true" ng-model="People" min-entries="1" max-entries="4" max-selected-people="3" show-login="true" show-title="true" min-characters="2"/>
			</div>

			<div>
				{{people()}}
			</div>

			<div>
				<img src="doesntexist" error><br>
				No image above should hide dead image icon
			</div>

			<div>
				<span style="display:none" >
					{{ L = 'C';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Choice' }}
					{{ L = 'D';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'MultiChoice' }}
					{{ L = 'E';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Boolean' }}
					{{ L = 'F';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Text' }}
					{{ L = 'G';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Number' }}
					{{ L = 'H';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Date' }}
					{{ L = 'I';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'DateTime' }}
					{{ L = 'J';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Multiple lines of text' }}
					{{ L = 'K';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'User' }}
					{{ L = 'L';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'UserMulti' }}
					{{ L = 'M';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Number' }}
					{{ L = 'N';Titles[L] = 'Title'+L;Requireds[L] = true;Descriptions[L] = 'C';Choices[L] = ['1', '2'];TypeAsString[L] = 'Choice' }}
				</span>
				<choice object="form" field="C"></choice>
				<choice object="form" field="D"></choice>
				<choice object="form" field="E"></choice>
				<choice object="form" field="F"></choice>
				<choice object="form" field="G"></choice>
				<choice object="form" field="H"></choice>
				<choice object="form" field="I"></choice>
				<choice object="form" field="J"></choice>
				<choice object="form" field="K"></choice>
				<choice object="form" field="L"></choice>
				<choice object="form" field="M" ng-disabled="true"></choice>
				<choice object="form" field="N" radio="true"></choice>
			</div>

			<div>
				<div ui-calendar="cal" class="cal" ng-model="f"></div>
			</div>

			<br><br><br><br>
			<hr style="padding:0">

			<h1>Results</h1>
			<div id="results">
				<b>Web - CreateWeb</b>: Not tested due to limited scope under LDMS new Desk/Project and test duration exceeds test suite, should be manually tested after every SPVer change detected<br>
			</div>

			<hr style="padding:0" scroll="15000">
		</md-content>
	</div>
	<p ng-if="submitted" id="saved">
		{{submitted}}
	</p>
	<div align="right" style="margin-top: 10px;" scroll="true">
		<span style="display:none" >{{ form.valid = forms.$valid; }}</span>
		<input type="button" value="Submit" ng-click="save(true, true)" ng-disabled="processing"/>
		<input type="button" value="Cancel" ng-click="close()" ng-disabled="processing"/>
	</div>
</div>