div[data-automation-id="pageHeader"] {
  display: none; // hide page header
}
div[data-automation-id="CanvasControl"] {
  margin-top: 0 !important;
}

input, select, textarea {
  height: 34px;
  font-size: 14px;
  border-width: 0 0 1px 0;
  border-color: rgba(0,0,0,0.87);
  border-style: solid;
  border-radius: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

input:hover, select:hover, textarea:hover,
input:focus-visible, select:focus-visible, textarea:focus-visible {
  border-bottom-width: 2px;
  border-color: #12283c;
  outline: inherit;
}

input:disabled, select:disabled, textarea:disabled {
  border-bottom-style: dotted;
}

div.Actions {
  margin-top: 12px;

  button {
      color: #20476b;
      padding: 7px 10px;
      border: 1px solid #20476b;
      background-color: transparent;
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
  }

  button:hover {
      background-color: #16314a;
      box-shadow: 0 1px 3px rgba(0,0,0,.24);
      color: white;
  }
  
  button:disabled {
      color: #ddd;
      border-color: #ddd;
      background-color: transparent;
  }    
}