.sp-peoplepicker-topLevel,
.sp-peoplepicker-autoFillContainer
{
border:1px solid #ababab;
background-color:#fff;
background-color:rgba( 255,255,255,0.85 );
color:#444;
}
.sp-peoplepicker-topLevel:hover
{
border-color:red;
}
.sp-peoplepicker-topLevel{
cursor:text;
height:100%;
width:371px;
position:relative;
padding:3px 25px 3px 0px;
}
input.sp-peoplepicker-editorInput[type=text]{
border:0px;
padding:0px 1px;
margin-left:5px;
vertical-align:inherit;
background-color:transparent;
}
input.sp-peoplepicker-editorInput[type=text]:focus{
outline:0px;
}
.sp-peoplepicker-autoFillContainer{
z-index:1;
padding:0px;
display:none;
cursor:default;
max-width:300px;
min-width:300px;
position:absolute;
border-color:#c6c6c6;
}
.sp-peoplepicker-initialHelpText{
top:3px;
left:4px;
position:absolute;
}
.sp-peoplepicker-autoFillPresence{
z-index:1;
width:20px;
height:20px;
position:absolute;
}
.sp-peoplepicker-userSpan{
cursor:pointer;
white-space:nowrap;
display:inline-block;
margin:0px 5px 1px 2px;
}
.sp-peoplepicker-delImage{
margin-left:3px;
color: #c52d2c;
}
.sp-peoplepicker-delImage:hover{
text-decoration:none;
}
.sp-peoplepicker-userPresence{
margin-right:3px;
display:inline-block;
}
.sp-peoplepicker-userSpan .ms-entity-unresolved{
font-style:normal;
}
.sp-peoplepicker-userSpan .ms-entity-resolved{
vertical-align:bottom;
}
.sp-peoplepicker-userSpan .ms-entity-unresolved,.sp-peoplepicker-userSpan .ms-entity-resolved{
overflow:hidden;
}
.sp-peoplepicker-userDisplayLink{
color:#444;
}
.sp-peoplepicker-userDisplayLink:hover{
text-decoration:none;
}
.sp-peoplepicker-waitImg{
width:16px;
height:16px;
display:none;
font-size:0px;
position:absolute;
}
.sp-peoplepicker-errorMsg{
margin-top:6px;
margin-left:6px;
}
.sp-peoplepicker-errorMsg{
display:inline-block;
}
.sp-peoplepicker-topLevel .ms-core-menu-footer{
margin:0px;
cursor:default;
padding:0px 12px 7px 5px;
}
.sp-peoplepicker-topLevel .ms-core-menu-loading{
margin:0px;
cursor:default;
text-align:center;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-item{
white-space:nowrap;
padding:1px 5px 3px 5px;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-link{
padding:0px;
text-decoration: none;
color:#444;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-label{
display:block;
}
.sp-peoplepicker-topLevel .sp-autoFill-menu{
min-width:100%;
}
.sp-peoplepicker-topLevel .sp-autoFill-imageWrapper{
width:36px;
height:36px;
padding-right:5px;
}
.sp-peoplepicker-topLevel .sp-autoFill-image{
width:36px;
height:36px;
clip:rect(0px,36px,36px,0px);
}
.sp-peoplepicker-autoFillContainer .sp-autoFill-scroll{
width:100%;
border:none;
margin:0px;
padding:0px;
max-height:200px;
min-width:100%;
padding-top:3px;
overflow-y:auto;
overflow-x:hidden;
margin-right:10px;
list-style-type:none;
box-shadow:0px 0px 0px 0px transparent;
background-color:#fff;
}