<h2>
  {{description}}
</h2>

<div *ngIf="dashboard">
  <div style="float: left; padding-top: 8px; padding-bottom: 8px" *ngIf="perm['Members']">
    &nbsp;
    <a href="?aid=0">&#10012; Add new</a>
  </div>
  <div style="float: right;" >
    <select [(ngModel)]="itemsPerPage" (change)="saveFilter('itemsPerPage', false);">
        <option value="25">25</option>
        <option value="100">100</option>
        <option value="5000">5000</option>
        <option value="0">All</option>
    </select>
    <input type="text" [(ngModel)]="searchText" placeholder="Search by ..." style="width: 300px;" (change)="currentPage = 1"/>
    <i class="fa fa-print" onclick="print()"></i>
    &nbsp;
  </div>

  <div *ngIf="loading">
    Loading...
  </div>

  <table *ngIf="!loading" class="table">
    <tr *ngIf="maxPage(null, false) == 0">
        <td colspan="99">No data for specified search, or you do not have permission to this data</td>
    </tr>
    <tbody *ngFor="let s of status">
      <tr *ngIf="maxPage(s, false) > 0">
          <th colspan="99" class="Subs" (click)="select(s)" style="cursor: pointer; border-radius: 4px 4px 0 0;">
              {{s}}
              <span *ngIf="selected != s">&#8690;</span>
              <span *ngIf="selected == s">&#8689;</span>
          </th>
      </tr>
      <tr [hidden]="selected != s" *ngIf="maxPage(s, false) > 0">
          <th (click)="sort('Id')" style="min-width: 0;cursor: pointer;">
            ID
            <i *ngIf="orderKey == 'Id' && !orderDir">&uarr;</i>
            <i *ngIf="orderKey == 'Id' && orderDir">&darr;</i>
          </th>
          <th (click)="sort('Title')" style="min-width: 0;cursor: pointer;">
            Title
            <i *ngIf="orderKey == 'Title' && !orderDir">&uarr;</i>
            <i *ngIf="orderKey == 'Title' && orderDir">&darr;</i>
          </th>
          <th (click)="sort('Created')" style="min-width: 0;cursor: pointer;">
            Created
            <i *ngIf="orderKey == 'Created' && !orderDir">&uarr;</i>
            <i *ngIf="orderKey == 'Created' && orderDir">&darr;</i>
          </th>
          <th (click)="sort(null)" style="min-width: 0;cursor: pointer;">
            Last Modified
            <i *ngIf="orderKey == null && !orderDir">&uarr;</i>
            <i *ngIf="orderKey == null && orderDir">&darr;</i>
          </th>
          <th>&#9745;</th>
      </tr>
      <tr [hidden]="selected != s" *ngIf="maxPage(s, false) == 0">
          <td colspan="99">No data for selected {{s}} and specified search, or you do not have permission to this data</td>
      </tr>
      <tr [hidden]="selected != s" *ngFor="let d of rows(s, true)">
          <td style="text-align:center"><a href="?aid={{d.Id}}">{{d.Id}}</a></td>
          <td style="text-align:center">{{d.Title}}</td>
          <td style="text-align:center">{{d.Created | date:'dd MMM yyyy HH:mm'}}</td>
          <td style="text-align:center">{{d.Modified | date:'dd MMM yyyy HH:mm'}}</td>
          <td style="text-align: center" class="Tasks">
              <a *ngIf="perm['Members']" href="?aid={{d.Id}}&stage=Edit">&#9745;</a>
          </td>
      </tr>
      <tr [hidden]="selected != s" *ngIf="maxPage(s, false) > 0">
        <th colspan="99" style="text-align: right;">
          <a (click)="changePage(1)" *ngIf="currentPage > 2">&laquo; 1</a>
          <a (click)="changePage(currentPage - 1)" *ngIf="currentPage > 1">&lsaquo; {{currentPage - 1}}</a>
          {{currentPage}}
          <a (click)="changePage(currentPage + 1)" *ngIf="maxPage(s, false) > currentPage">{{currentPage + 1}} &rsaquo;</a>
          <a (click)="changePage(maxPage(s, true))" *ngIf="maxPage(s, false) > currentPage + 1">{{maxPage(s, true)}} &raquo;</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!dashboard">
  <form ngNativeValidate #input (keydown.enter)="$event.preventDefault()">
    <app-choice [form]="form" [spec]="spec" [field]="'Title'" [disabled]="stage == 'View'"></app-choice>

    <app-choice [form]="form" [spec]="spec" [field]="'Attachments'" [disabled]="stage == 'View'" [override]="prefix()"></app-choice>
    
    <app-choice [form]="form" [spec]="spec" [field]="'CommentHistory'" [override]='{"TypeAsString":"Note","RichText":true,"AppendOnly":true}' [disabled]="stage == 'View'"></app-choice>
    <div *ngFor="let h of versions" [hidden]="!h.Comments">
      <div style="font-weight: bold;">{{h.Author.LookupValue}} on {{h.Created | date:'dd MMM yyyy HH:mm:ss'}}</div>
      <div [innerHTML]="h.Comments"></div>
    </div>
    
    <div class="Actions">
      <div style="float: left;" *ngIf="stage == 'New'">
        <button [disabled]="!input.checkValidity()" (click)="save('Allocate Technical Accountant and attach SoA')">Start</button>
      </div>

      <div style="float: right;">
        <button (click)="close()">Close</button>
      </div>
    </div>
  </form>
</div>